In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\shital\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: trio~=0.17 in c:\users\shital\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\shital\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: async-generator>=1.9 in c:\users\shital\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\shital\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: outcome in c:\users\shital\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\shital\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\shital\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [22]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [5]:
driver=webdriver.Chrome(r"C:\Users\nisar\chromedriver.exe")

In [10]:
driver.get('https://www.naukri.com/')

In [11]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [12]:
Location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
Location.send_keys('Bangalore')

In [13]:
Search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
Search.click()

In [16]:
jobtitle=[]
joblocation=[]
companyname=[]
experiencerequired=[]

In [17]:
#scraping job title
title_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tag[0:10]:
    title=i.text
    jobtitle.append(title)

#scraping job location
location_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tag[0:10]:
    location=i.text
    joblocation.append(location)

#scraping company name
company_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company=i.text
    companyname.append(company)
    
#scraping experiance
exp_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in exp_tag[0:10]:
    exp=i.text
    experiencerequired.append(exp)

In [18]:
print(len(jobtitle),len(joblocation),len(companyname),len(experiencerequired))

10 10 10 10

In [19]:
df=pd.DataFrame({'job_title':jobtitle,'job_location':joblocation,'company_name':companyname,'experience_required':experiencerequired})
df

,job_title,job_location,company_name,experience_required
0,Business Analyst/ Sr. Data Analyst,Hybrid - Bangalore/Bengaluru(Whitefield),Zen Data Shastra Llp,2-6 Yrs
1,Sr Data Analyst,Bangalore/Bengaluru,Skillety,3-5 Yrs
2,"Business Analyst - Clinical data , Sales Comme...","Noida, Pune, Gurgaon/Gurugram, Bangalore",Axtria,7-12 Yrs
3,Senior Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad",Quince Corporate Services,3-6 Yrs
4,Senior Data Management Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad",Wells Fargo,5-10 Yrs
5,Data Analyst (Only from Big4 firms),Hybrid - Bangalore/Bengaluru,Dover,3-5 Yrs
6,Manager - Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad",Quince Corporate Services,10-12 Yrs
7,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,2-5 Yrs
8,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,3-5 Yrs
9,"Lead Data Analyst(SQL, Python)",Permanent Remote,Cimpress,7-11 Yrs

Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [32]:
driver=webdriver.Chrome(r"C:\Users\nisar\chromedriver.exe")

In [33]:
driver.get('https://www.naukri.com/')

In [34]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [35]:
Location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
Location.send_keys('Bangalore')

In [36]:
Search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
Search.click()

In [38]:
jobtitle_ds=[]
joblocation_ds=[]
companyname_ds=[]

In [39]:
#scraping job title
title_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tag[0:10]:
    title=i.text
    jobtitle_ds.append(title)

#scraping job location
location_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tag[0:10]:
    location=i.text
    joblocation_ds.append(location)

#scraping company name
company_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company=i.text
    companyname_ds.append(company)

In [40]:
print(len(jobtitle),len(joblocation),len(companyname))

10 10 10

In [42]:
df1=pd.DataFrame({'job_title':jobtitle_ds,'job_location':joblocation_ds,'company_name':companyname_ds})
df1

,job_title,job_location,company_name
0,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Hyderabad...",Birlasoft
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Manager,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC
3,Opportunity For BioStatistician - II/Sr/Princi...,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PPD
4,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Kolkata, ...",Mindtree
5,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes
6,Data Scientist,Bangalore/Bengaluru,Infosys
7,"Data & Analytics Lead, Geo Analytics - GAMMA",Bangalore/Bengaluru,Boston Consulting Group
8,Weather and Climate Data Scientist,Bangalore/Bengaluru,Shell Pvt Ltd
9,Manager-Data Science,Bangalore/Bengaluru,AMERICAN EXPRESS

Q3: In this question you have to scrape data using the filters available on the webpage as shown below
    You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [50]:
driver=webdriver.Chrome(r"C:\Users\nisar\chromedriver.exe")

In [51]:
driver.get('https://www.naukri.com/')

In [52]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [53]:
Location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
Location.send_keys('Banglore')

In [54]:
Search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
Search.click()

In [59]:
location_filter = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[3]')
location_filter.click()

In [60]:
salary_filter = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
salary_filter.click()

In [63]:
jobtitle_F=[]
joblocation_F=[]
companyname_F=[]
experiencerequired_F=[]

In [64]:
#scraping job title
title_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tag[0:10]:
    title=i.text
    jobtitle_F.append(title)

#scraping job location
location_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tag[0:10]:
    location=i.text
    joblocation_F.append(location)

#scraping company name
company_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company=i.text
    companyname_F.append(company)
    
#scraping experiance
exp_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in exp_tag[0:10]:
    exp=i.text
    experiencerequired_F.append(exp)

In [65]:
print(len(jobtitle_F),len(joblocation_F),len(companyname_F),len(experiencerequired_F))

10 10 10 10

In [66]:
df2=pd.DataFrame({'job_title':jobtitle_F,'job_location':joblocation_F,'company_name':companyname_F, 'expre':experiencerequired_F})
df2

,job_title,job_location,company_name,expre
0,Artificial Intelligence/Computer Vision Engine...,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Vicara,1-3 Yrs
1,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions,7-10 Yrs
2,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
3,Opening For Jr. Data Scientist with Tatras Dat...,Delhi / NCR,Tatras Data Services,2-4 Yrs
4,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
5,Data Scientist,Gurgaon/Gurugram,Americana Restaurants (india),3-8 Yrs
6,URGENT: Data Scientist | Gurugram | 5 Days Wor...,Gurgaon/Gurugram,Digilytics,2-5 Yrs
7,Data Scientist | Boutique AI and data consulti...,"Noida, New Delhi, Gurgaon/Gurugram",unnati,2-7 Yrs
8,Data Scientist,Noida,Alliance Recruitment Agency,3-4 Yrs
9,SE/SSE-Data Scientist,Delhi / NCR,Bold Technology Systems,3-8 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image.

In [2]:
driver=webdriver.Chrome(r"C:\Users\nisar\chromedriver.exe")

In [3]:
driver.get('https://www.flipkart.com/')

In [4]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sunglasses')

In [5]:
Search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
Search.click()

In [6]:
brand=[]
productdescription=[]
price=[]

In [7]:
#scraping brand-page1
brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tag:
    bran=i.text
    brand.append(bran)

#scraping product description- page 1
productdescription_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in productdescription_tag:
    pd=i.text
    productdescription.append(pd)

#scraping price-page 1
price_tag=driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]')
for i in price_tag:
    pri=i.text
    price.append(pri)

In [8]:
print(len(brand),len(productdescription),len(price))

40 40 40

In [10]:
#moving to next page(2)
next_button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_button.click()

In [11]:
brand2=[]
productdescription2=[]
price2=[]


#scraping brand-page2
brand_tag2=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tag2:
    bran=i.text
    brand2.append(bran)

#scraping product description- page 2
productdescription_tag2=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in productdescription_tag2:
    pd=i.text
    productdescription2.append(pd)

#scraping price-page 2
price_tag2=driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]')
for i in price_tag2:
    pri=i.text
    price2.append(pri)

In [12]:
print(len(brand2),len(productdescription2),len(price2))

40 40 40

In [13]:
#moving to next page(3)
next_button=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_button.click()

In [14]:
brand3=[]
productdescription3=[]
price3=[]


#scraping brand-page2
brand_tag3=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tag3:
    bran=i.text
    brand3.append(bran)

#scraping product description- page 2
productdescription_tag3=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in productdescription_tag3:
    pd=i.text
    productdescription3.append(pd)

#scraping price-page 2
price_tag3=driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]')
for i in price_tag3:
    pri=i.text
    price3.append(pri)

In [16]:
print(len(brand3),len(productdescription3),len(price3))

40 40 40

In [17]:
#Combining data of all 3 pages
Brand_Name=brand+brand2+brand3
Product_Description=productdescription+productdescription2+productdescription3
Price_rs=price+price2+price3

In [18]:
print(len(Brand_Name),len(Product_Description),len(Price_rs))

120 120 120

In [24]:
flipkart = pd.DataFrame({'Brand Name':Brand_Name[0:100], "Decription":Product_Description[0:100], 'Price':Price_rs[0:100]})
flipkart

,Brand Name,Decription,Price
0,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...","₹399₹1,99980% off\nFree delivery"
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...","₹806₹1,99959% off\nFree delivery"
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹439₹79945% off
3,LIZA ANGEL,"Riding Glasses, Night Vision Spectacle Sunglas...",₹129₹99987% off\nFree delivery
4,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149₹59975% off\nFree delivery
...,...,...,...
95,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...","₹849₹1,99957% off\nFree delivery"
96,AISLIN,"UV Protection, Gradient Over-sized, Retro Squa...","₹535₹2,60079% off\nFree delivery"
97,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (51)","₹934₹1,99953% off"
98,Rich Club,Gradient Wayfarer Sunglasses (52),₹247₹59958% off\nFree delivery
99,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...","₹949₹2,50062% off\nFree delivery"

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART

As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [1]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [11]:
driver=webdriver.Chrome(r"C:\Users\Shital\chromedriver.exe")

In [14]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')

In [15]:
star = []
comm = []
bri = []
for page in range(0,10):
    for i in driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]'):
        star.append(i.text)
        
    for i in driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]'):
        comm.append(i.text)
    
    for i in driver.find_elements(By.XPATH,'//div[@class = "t-ZTKy"]'):
        bri.append(i.text)

In [16]:
phone = pd.DataFrame({'Star':star, 'Comments':comm, 'Brief':bri})
phone

,Star,Comments,Brief
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Highly recommended,What a camera .....just awesome ..you can feel...
97,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
98,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
99,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

In [19]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [21]:
driver=webdriver.Chrome(r"C:\Users\Shital\chromedriver.exe")

In [23]:
driver.get('https://www.flipkart.com/')

In [24]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sneakers')

In [26]:
name=[]
des=[]
pir=[]
off = []
for page in range(0,3):
    for i in driver.find_elements(By.CLASS_NAME,'_2WkVRV'):
        name.append(i.text)
    
    for i in driver.find_elements(By.CLASS_NAME,'IRpwTa'):
        des.append(i.text)
        
    for i in driver.find_elements(By.XPATH,'//div[@class = "_30jeq3"]'):
        pir.append(i.text)
    
    for i in driver.find_elements(By.CLASS_NAME,'_3Ay6Sb'):
        off.append(i.text)

In [27]:
len(name),len(des),len(pir),len(off)

(120, 120, 120, 135)

In [25]:
Search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
Search.click()

In [28]:

sneaker = pd.DataFrame({'Brand':name[0:100], 'Product Description':des[0:100], 'Price':pir[0:100], 'Offer':off[0:100]})

In [29]:
sneaker

,Brand,Product Description,Price,Offer
0,SFR,FAST Trenddy Tainer Lace-ups Sporty Casuals Sn...,₹369,62% off
1,World Wear Footwear,Latest Exclusive Affordable Collection of Tren...,₹399,80% off
2,aadi,Synthetic Leather |Lightweight|Comfort|Summer|...,₹359,82% off
3,BRUTON,Canvas shoes for Men Sneakers For Men,₹399,69% off
4,Shozie,Sneakers For Men,₹398,60% off
...,...,...,...,...
95,Kraasa,Sneakers For Women,₹499,70% off
96,kainchee factory,Kainchee factory blue Sneakers Shoes for Mens ...,₹629,51% off
97,RapidBox,Sneakers For Men,₹599,66% off
98,Shozie,"Breathable, Walking, Running, Casual,Gym Shoes...",₹448,80% off
99,Kraasa,"Casuals, Canvas, Partywear Sneakers For Men",₹499,40% off

Q7: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image

In [30]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [31]:
driver=webdriver.Chrome(r"C:\Users\Shital\chromedriver.exe")

In [32]:
driver.get('https://www.amazon.in/ ')

In [36]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.send_keys('Laptop')
product.submit()

In [37]:
filter = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[15]/span/a/span')
filter.click()

In [38]:
title=[]
rating=[]
price=[]

for i in driver.find_elements(By.XPATH,'//a[@class = "a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]'):
    title.append(i.text)

for i in driver.find_elements(By.XPATH,'//span[@class = "a-price-whole"]'):
    rating.append(i.text)

for i in driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]'):
    price.append(i.text)

In [39]:
len(title),len(rating),len(price)

(38, 38, 34)

In [41]:
laptop = pd.DataFrame({'Title': title[0:10], 'Rating': rating[0:10], 'Price' : price[0:10]})
laptop

                                               Title    Rating Price
0  Fujitsu UH-X 12th Gen Intel Evo Core i7 13.3 i...    99,990  (55)
1  Acer Nitro 5 Gaming Laptop Intel core i7 11th ...    99,990   (9)
2  Acer Nitro 5 Gaming Laptop Intel core i7 11th ...    82,990  (93)
3  HP Victus Gaming Latest 12th Gen Intel Core i7...    85,990  (23)
4  HP Pavilion x360 11th Gen Intel Core i7 14 inc...    82,490  (56)
5  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...    82,990  (29)
6  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    81,990  (42)
7  (Renewed) HP ProBook 430 G3 6th Gen Intel Core...    24,925  (34)
8  ASUS Zenbook 14 OLED (2022), 14" (35.56 cms) 2...  1,02,000  (18)
9  (Renewed) HP ProBook 430 G3 6th Gen Intel Core...    22,999  (56)

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1.First get the webpage https://www.azquotes.com/
2. Click on Top Quote
3. Than scrap a) Quote b) Author c) Type Of Quote

In [86]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [89]:
driver=webdriver.Chrome(r"C:\Users\Shital\chromedriver.exe")

In [90]:
driver.get('https://www.azquotes.com/')

In [92]:
Top_Quote = driver.find_element(By.XPATH,'/html/body')
Top_Quote.click()

In [96]:
quote=[]
Author=[]
type_of=[]

for page in range(0,10):
    for i in driver.find_elements(By.CLASS_NAME,'title'):
        quote.append(i.text)
    
    for i in driver.find_elements(By.CLASS_NAME,'author'):
        Author.append(i.text)
        
    for i in driver.find_elements(By.CLASS_NAME,'tags'):
        type_of.append(i.text)

In [97]:
len(quote),len(Author),len(type_of)

(1040, 1000, 1000)

In [98]:
TOP1000 = pd.DataFrame({'Quote': quote[0:1000], 'Author': Author[0:1000], 'type of quote' : type_of[0:1000]})
TOP1000

,Quote,Author,type of quote
0,,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,The essence of strategy is choosing what not t...,Golda Meir,"Inspiration, Past, Trying"
2,One cannot and must not try to erase the past ...,Theodore Roosevelt,"Country, Peace, War"
3,Patriotism means to stand by the country. It d...,Nelson Mandela,"Inspirational, Motivational, Death"
4,Death is something inevitable. When a man has ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Trying to do the Lord's work in your own stren...,Hunter S. Thompson,"Music, Sports, Hunting"
996,Sports for me is when a guy walks off the cour...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,Expect the best. Prepare for the worst. Capita...,Dalai Lama,"Inspirational, Funny, Change"
998,"I became insane, with long intervals of horrib...",Mother Teresa,"Success, God, Mother"
999,"Failure is a detour, not a dead-end street.",Norman Vincent Peale,"Inspirational, Motivational, Change"

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpage https://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make the DataFrame

In [48]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [49]:
driver=webdriver.Chrome(r"C:\Users\Shital\chromedriver.exe")

In [53]:
driver.get('https://www.jagranjosh.com/')

In [54]:
gk = driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/div/div[3]/div/div[1]/header/div[3]/ul/li[9]/a')
gk.click()

In [55]:
pm = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
pm.click()

In [60]:
name=[]
Born_dead=[]
Term_of_office=[]
Remark=[]

for i in driver.find_elements(By.XPATH,'//td[@style="width: 150px; height: 80px;"]'):
    name.append(i.text)

for i in driver.find_elements(By.XPATH,'//TD[@style="width: 105px; height: 80px;"]'):
    Born_dead.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//td[@style="width: 256px; height: 80px;"]'):
    Term_of_office.append(i.text)

for i in driver.find_elements(By.XPATH,'//td[@style="width: 145px; height: 80px;"]'):
    Remark.append(i.text)

In [62]:
Priminister1 = pd.DataFrame({'Name': name, 'Born And Dead':Born_dead , 'Term of office' : Term_of_office, 'Remark':Remark})
Priminister1

,Name,Born And Dead,Term of office,Remark
0,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
1,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
2,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
3,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
4,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
5,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from south India
6,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
7,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
8,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
9,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM

In [63]:
name1=[]
Born_dead1=[]
Term_of_office1=[]
Remark1=[]

for i in driver.find_elements(By.XPATH,'//td[@style="width: 150px; height: 121px;"]'):
    name1.append(i.text)

for i in driver.find_elements(By.XPATH,'//td[@style="width: 105px; height: 121px;"]'):
    Born_dead1.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//td[@style="width: 256px; height: 121px;"]'):
    Term_of_office1.append(i.text)

for i in driver.find_elements(By.XPATH,'//td[@style="width: 145px; height: 121px;"]'):
    Remark1.append(i.text)

In [65]:
Priminister2 = pd.DataFrame({'Name': name1, 'Born And Dead':Born_dead1 , 'Term of office' : Term_of_office1, 'Remark':Remark1})
Priminister2

,Name,Born And Dead,Term of office,Remark
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...

In [71]:
name2=[]
Born_dead2=[]
Term_of_office2=[]
Remark2=[]

for i in driver.find_elements(By.XPATH,'//td[@style="width: 150px; height: 104px;"]'):
    name2.append(i.text)

for i in driver.find_elements(By.XPATH,'//td[@style="width: 105px; height: 104px;"]'):
    Born_dead2.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//td[@style="width: 256px; height: 104px;"]'):
    Term_of_office2.append(i.text)

for i in driver.find_elements(By.XPATH,'//td[@style="width: 145px; height: 104px;"]'):
    Remark2.append(i.text)

In [72]:
Priminister3 = pd.DataFrame({'Name': name2, 'Born And Dead':Born_dead2 , 'Term of office' : Term_of_office2, 'Remark':Remark2})
Priminister3

,Name,Born And Dead,Term of office,Remark
0,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
1,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
2,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

In [78]:
Pri = pd.DataFrame({'Name': name+name1+name2, 'Born And Dead':Born_dead+Born_dead1+Born_dead2 , 'Term of office' : Term_of_office+Term_of_office1+Term_of_office2, 'Remark':Remark+Remark1+Remark2})
Pri

,Name,Born And Dead,Term of office,Remark
0,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
1,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
2,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
3,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
4,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
5,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from south India
6,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
7,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
8,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
9,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
10,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
11,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
12,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
13,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
14,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...
15,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
16,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name ,Description and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on leftside.
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the

In [99]:
driver=webdriver.Chrome(r"C:\Users\Shital\chromedriver.exe")

In [100]:
driver.get('https://www.motor1.com/')

In [101]:
features = driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/ul/li[3]/a')
features.click()

In [102]:
mostexp = driver.find_element(By.XPATH,'/html/body/div[3]/div[7]/div/div[1]/div[1]/div[2]/div/div[1]/h3/a')
mostexp.click()

In [103]:
name=[]

for i in driver.find_elements(By.XPATH,'//h3[@class="subheader"]'):
    name.append(i.text)

TOP50 = pd.DataFrame({'Name of Car': name})
TOP50

                         Name of Car
0                          Drako GTE
1                      De Tomaso P72
2                  Ferrari LaFerrari
3                      Pagani Huayra
4                       McLaren Elva
5                        Czinger 21C
6                      Ferrari Monza
7                 Gordon Murray T.33
8                  Koenigsegg Gemera
9                        Zenvo TSR-S
10                Hennessey Venom F5
11                   Bentley Bacalar
12     Hispano Suiza Carmen Boulogne
13            Bentley Mulliner Batur
14                      Deus Vayanne
15                       SSC Tuatara
16                       Lotus Evija
17               Aston Martin Vulcan
18                        Delage D12
19                 McLaren Speedtail
20                      Rimac Nevera
21                     Pagani Utopia
22              Pininfarina Battista
23                 Ferrari FXX K Evo
24                Gordon Murray T.50
25              Lamborghini Countach
26          Mercedes-AMG Project One
27               Aston Martin Victor
28       Hennessey Venom F5 Roadster
29                  Koenigsegg Jesko
30             Aston Martin Valkyrie
31         W Motors Lykan Hypersport
32                     McLaren Solus
33         Pagani Huayra Roadster BC
34          Bugatti Chiron Pur Sport
35                  Lamborghini Sian
36                  Koenigsegg CC850
37   Bugatti Chiron Super Sport 300+
38                Lamborghini Veneno
39                    Bugatti Bolide
40                   Bugatti Mistral
41               Pagani Huayra Imola
42                      Bugatti Divo
43               SP Automotive Chaos
44                  Pagani Codalunga
45          Mercedes-Maybach Exelero
46                Bugatti Centodieci
47              Rolls-Royce Sweptail
48          Bugatti La Voiture Noire
49            Rolls-Royce Boat Tail*
50  Most Expensive Cars In The World